<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js + MongoDB</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <nav id="navbar">
        <ul>
            <li><a href="/products">Mostrar Produtos</a></li>
            <li><a href="/products/create">Cadastro de Produtos</a></li>
        </ul>
    </nav>

    <div class="container">

    {{{body}}}

    </div>

</body>
</html>